# Virtual Environment
.venv/

# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Runtime files
storage/uploads/*
storage/generated/*

!storage/uploads/.gitkeep
!storage/generated/.gitkeep